{% extends 'medical_services/base.html' %}

{% block content %}
<div class="col-md-12">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Центр медицинских анализов</h1>
                    <p class="lead text-muted">Для тебя и твоей семьи</p>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Здесь вы можете посмотреть наши медицинские услуги</h1>
                    <a href="{% url 'category_list' %}" class="btn btn-dark my-2">Категории анализов</a>
                    <a href="{% url 'service_list' %}" class="btn btn-dark my-2">Наши услуги</a>

                </div>
            </section>
        </div>
    </div>
</div>
{%  endblock %}